auto-install-peers=false
engine-strict=true
manage-package-manager-versions=false
package-manager-strict=true
package-manager-strict-version=true
registry=https://registry.npmjs.org/
save-exact=true
strict-peer-dependencies=true
